<template>
  <div class="input-group">
    <div class="input-group-btn">
      <button class="btn btn-sm btn-white col-md-10 selectValue dropdown-toggle"
        tabindex="-1"
        data-toggle="dropdown"
        type="button"
      >{{ getTitle() }}</button>
      <button class="btn btn-sm btn-white dropdown-toggle"
        data-toggle="dropdown"
        type="button"
      ><span class="caret"></span></button>
      <ul class="dropdown-menu"
        style="z-index: 4000;min-height: 100px;max-height:300px;width:250px;overflow-y:scroll;"
      >
        <li class="search"
          v-if="search || searchFromServer"
          style="width:inherit;opacity:0"
        ><input type="text" class="form-control input-sm"></li>
        <li class="search"
          v-if="search"
          style="position:fixed;width:inherit;"
        >
          <input class="form-control input-sm"
            type="text"
            :placeholder="$t('select_search_placeholder')"
            @click.stop
            v-model="keyWords"
          />
        </li>
        <li :class="{ active: optionSelected(option) }"
          v-for="option in searchOptions"
          @click.stop="select(option)"
        ><a>{{ option.text }}</a></li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EditStreet',

  props: {
    max: { type: Number, default: () => 0 },
    value: Number,
    options: Array,
    placeholder: String,
    search: String,
  },

  data: () => ({
    keyWords: null,
    selectedOption: null
  }),

  computed: {
    searchOptions () {
      let vm = this

      if (this.keyWords === null || this.keyWords.length < 3) {
        return this.options.filter(option => vm.optionSelected(option))
      }

      return this.options
        .sort((a, b) => this.sortFunc)
        .filter(option =>
          option.text.toLowerCase().indexOf(
            this.keyWords.toLowerCase()
          ) !== -1 || vm.optionSelected(option))
    },
  },

  watch: {
    keyWords () {
      if (this.searchFromServer) {
        this.$dispatch('search', this.keyWords)
      }
    }
  },

  methods: {
    select (option) {
      this.keyWords = null
      this.value = option.id
      this.selectedOption = option
      option.selected = !option.selected
      this.searchOptions.sort((a, b) => this.sortFunc)
    },

    getTitle () {
      let findKey = this.options.find(a => a.id === this.value)

      if (findKey) {
        let sliced = findKey.text.slice(0, 10)
        if (sliced.length < findKey.text.length) {
          sliced += '...'
        }
        return sliced
      } else {
        return this.placeholder
      }
    },

    sortFunc: (a, b) => a.selected > b.selected
      ? -1
      : a.selected < b.selected
        ? 1
        : 0,

    optionSelected: (option) => this.value === option.id,
  },
}
</script>
