<template>
    <div class="input-group">
        <div class="input-group-btn">
            <button class="btn btn-sm btn-white col-md-10 selectValue dropdown-toggle"
                tabindex="-1"
                data-toggle="dropdown"
                type="button"
            >{{ getTitle() }}</button>
            <button class="btn btn-sm btn-white dropdown-toggle"
                data-toggle="dropdown"
                @click="doThis"
                type="button"
            >
                <span class="caret" v-if="!startValue && !finishValue"></span>
                <span class="fa fa-times" v-else></span>
            </button>
            <ul class="dropdown-menu" style="z-index: 4000;min-height:30px">
                <li class="search">
                    <input class="form-control input-sm startVal"
                        type="text"
                        :placeholder="$t('select_interval_from')"
                        v-model="startValue"

                    />
                    <input class="form-control input-sm finishVal"
                        type="text"
                        :placeholder="$t('select_interval_to')"
                        v-model="finishValue"

                    />
                </li>
            </ul>
        </div>
    </div>
</template>

<style>
.selectValue {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>

<script>
export default {
    name: 'Interval',

    props: {
        startValue: String,
        finishValue: String,
        placeholder: String,
    },

    methods: {
        numberFormat (number, decimals, decPoint, thousandsSep) {
            let i, j, kw, kd, km

            if (isNaN(decimals = Math.abs(decimals))) {
                decimals = 2
            }
            if (typeof decPoint === 'undefined') {
                decPoint = ','
            }
            if (typeof thousandsSep === 'undefined') {
                thousandsSep = '.'
            }

            i = parseInt(number = (+number || 0).toFixed(decimals)) + ''

            if ((j = i.length) > 3) {
                j = j % 3
            } else {
                j = 0
            }

            km = (j ? i.substr(0, j) + thousandsSep : '')
            kw = i.substr(j).replace(/(\d{3})(?=\d)/g, '$1' + thousandsSep)
            // kd = (decimals ? decPoint + Math.abs(number - i).toFixed(decimals).slice(2) : ')
            kd = (decimals
                ? decPoint + Math.abs(number - i).toFixed(decimals).replace(/-/, 0).slice(2)
                : ''
            )

            return km + kw + kd
        },

        doThis (event) {
            if (this.startValue || this.finishValue) {
                this.startValue = null
                this.finishValue = null
                event.stopPropagation()
            }
            event.preventDefault()
        },

        getTitle () {
            let title

            if (!this.startValue && !this.finishValue) {
                return this.placeholder
            }

            if (this.startValue) {
                title = this.$t('select_interval_from') + ' ' + this.startValue
            }

            if (this.finishValue) {
                if (title) {
                    title += ' ' + this.$t('select_interval_to') + ' ' + this.finishValue
                } else {
                    title = this.$t('select_interval_to') + ' ' + this.finishValue
                }
            }

            return title
        },
    },
}
</script>
