<template>
  <div class="input-group">
    <div class="input-group-btn">
      <button class="btn btn-sm btn-white col-md-11 selectValue dropdown-toggle"
        tabindex="-1"
        data-toggle="dropdown"
        type="button"
      >{{ getTitle() }}</button>
      <button class="btn btn-sm btn-white dropdown-toggle"
        v-if="!value.length"
        data-toggle="dropdown"
        type="button"
      ><span class="caret"></span></button>
      <button class="btn btn-sm btn-white dropdown-toggle"
        v-if="value.length"
        @click="doThis"
        type="button"
      ><span class="fa fa-times"></span></button>
      <ul class="dropdown-menu"
        style="z-index: 4000;min-height: 35px;max-height:300px;width:462px;overflow-y:scroll;"
      >
        <li class="search"
          v-if="search || searchFromServer"
          style="width:inherit;opacity:0"
        ><input type="text" class="form-control input-sm"></li>
        <li class="search"
          v-if="search"
          @keyup.down="handleDown"
          @keyup.up="handleUp"
          @keyup.enter="handleEnter"
          style="position:fixed;width:inherit;"
        >
          <input class="form-control input-sm"
            type="text"
            :placeholder="$root.$t('select_search_placeholder')"
            @click.stop
            v-model="keyWords"
            style="height:35px"
          >
        </li>
        <li>Some</li>
        <li>Some#2</li>
        <li
          v-for="(index,option) in searchOptions"
          :class="{
            active: optionSelected(option),
            'option-hover': index === directIndex
          }"
          @click.stop="select(option)"
        ><a>{{ option.text }}</a></li>
      </ul>
    </div>
  </div>
</template>

<style>
.selectValue {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.superMegaMargin {
  margin-bottom: 34px;
}
::-webkit-scrollbar {
  display: none;
}
</style>

<script>
export default {
  name: 'SelectStreet',

  props: {
    value: Array,
    options: Array,
    placeholder: String,
    max: { type: Number, default: () => 0 },
    search: String,
  },

  data: () => ({
    optionClass: {
      active: true,
      'class-b': false
    },
    keyWords: null,
    directIndex: null,
  }),

  computed: {
    searchOptions () {
      let self = this
      if (this.keyWords === null || this.keyWords.length < 3) {
        return this.options.filter(
          option => self.optionSelected(option)
        )
      }
      return this.options.sort(this.sortFunc).filter(
        option => option.text.toLowerCase()
          .indexOf(this.keyWords.toLowerCase()) !== -1 ||
            self.optionSelected(option)
      )
    }
  },

  watch: {
    keyWords () {
      this.directIndex = null
      if (this.searchFromServer) {
        this.$dispatch('search', this.keyWords)
      }
    }
  },

  methods: {
    select (option) {
      this.keyWords = null
      let findIndex = null
      if (!this.value.length) {
        this.value.push(parseInt(option.id))
      } else {
        findIndex = this.value.findIndex((elem) => elem === option.id)
        if (findIndex !== -1) {
          this.value.splice(findIndex, 1)
        } else {
          this.value.push(parseInt(option.id))
        }
      }
      option.selected = !option.selected
      this.searchOptions.sort((a, b) => this.sortFunc)
    },

    doThis () {
      this.value = []
    },

    getTitle () {
      let title = ''
      if (this.value.length) {
        if (this.value.length > 2) {
          title += this.value.reduce(
            (sum, curr, index) => index < 2
              ? sum + this.options.find((b) => curr === b.id).text + ', '
              : sum, ''
          )
          title = title + 'и еще: ' + (this.value.length - 2)
        } else {
          title += this.value.reduce((sum, curr) => {
            return sum + this.options.find(b => {
              return curr === b.id
            }).text + ' '
          }, '')
        }
      } else {
        return this.placeholder
      }
      return title
    },

    sortFunc: (a, b) => a.selected > b.selected
      ? -1
      : a.selected < b.selected
        ? 1
        : 0,

    optionSelected: (option) => this.value.find((a) => a === option.id),

    handleDown () {
      this.directIndex = this.directIndex === null
        ? 0
        : this.directIndex + 1
      if (this.directIndex >= this.searchOptions.length - 1) {
        this.directIndex = this.searchOptions.length - 1
      }
    },

    handleUp () {
      this.directIndex = this.directIndex === 0 ? 0 : this.directIndex - 1
    },

    handleEnter () {
      if (this.directIndex || this.directIndex === 0) {
        this.searchOptions[this.directIndex].selected = !this.searchOptions[this.directIndex].selected
        this.select(this.searchOptions[this.directIndex])
      }
    },
  },
}
</script>
