<template>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <div v-if="finded" class="scroll_content row" :style="infiniteStyle">

        <shareobject
                transition="slide"
                v-for="object in objects"
                :selected="prepareObjectData(object)" track-by="id" :objectdata="object"></shareobject>
    </div>
    <div v-if="!finded">
        <div style="max-width:500px; width:500px;" class="middle-box text-center loginscreen animated fadeInDown">
            <div id="someid">
                <h2>{{$t('share_died')}}</h2>
            </div>
            <div v-if="phones">
                <h2>{{$t('share_died_info')}} {{getPhone()}} ({{owner.name}})</h2>
            </div>
        </div>
    </div>

    <div v-if="owner && finded" class="container-fluid navbar-fixed-bottom">
        <div class="row">
            <div class="col-md-12 text-center m-t-xs share_info" id="share_info" style="background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(188,188,188,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(188,188,188,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(188,188,188,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bcbcbc',GradientType=0 );height: 75px;">
                <div class="col-md-3"></div>
                <div class="col-md-6">

                    <div class="pull-left" style="margin-top: 10px;">
                        <img alt="image" width="49" height="49" class="img-circle" :src="avatar"/>
                    </div>
                    <div class="pull-right" style="margin-top: 18px;">
                        {{$t('for_all_questions')}} {{getPhone()}} ({{owner.name}}) <br/>
                        {{$t('that_page_die')}} {{$time().add(timeout, 'seconds').format('L, h:mm:ss')}}
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

</template>
<script>
    import $            from 'jquery';
    import jQuery       from 'jquery';
    import "jquery-mousewheel";
    import iScroll from 'malihu-custom-scrollbar-plugin';
    iScroll($);
    import ShareObject   from '../components/ShareObject.vue';

    export default {
        computed: {
            avatar: function () {
                if (this.owner.avatar != "noavatar")
                    return this.$root.config.bucketAvatarsUrl + "/" + this.owner.avatar + ".jpg";
                else
                    return "/images/noavatar.jpg";
            },

            user: function () {
                let user = JSON.parse(localStorage.getItem('iam'));
                return user;
            },
            phone: function(){
                console.log(this.phones);
            }
        },
        route: {
            data: function (transition) {

                if (!this.loadObjects)
                    this.getFilterObjects();

                transition.next();
            }
        },

        watch: {
            'filter': {
                handler: function (val, oldVal) {

                    this.getFilterObjects();
                },
                deep: true
            },
            'nextPageUrl': {
                handler: function (val, oldVal) {
                    this.infiniteScrollEnabled = val != null;
                }
            }
        },
        methods: {

            canViewFilter(some){
                var findKey, self = this;
                if (!this.filter.type)
                    return false;

                if (this.filter.category == 2 &&
                        this.filter.type == 2 && some == 'view')
                    return false;
                findKey = this.$root.types.find(function (a) {
                    return a.id == self.filter.type;
                });
                return findKey.fields.findIndex(function (a) {
                            return a == some;
                        }) != -1;

            },
            useRole: function (role) {
                var roles = JSON.parse(localStorage.getItem('userRoles'));
                return roles.find(a => {
                    return a.id == role;
                });
            },
            getPhone(){
                return this.owner.phones.find(a => a.active).value;
            },
            getFilterObjects(){
                var self = this;
                this.loadObjects = 1;
                this.$http.get(this.$root.config.apiUrl + "/share/" + this.$route.params.share_id).then(function (response) {
                    if( response.data.timeout == 0 ){
                        self.phones = response.data.phones;
                        self.owner = response.data.currentUser;
                        self.finded = false;
                        return;
                    }

                    self.objects = response.data.objects.data;
                    self.nextPageUrl = response.data.objects.next_page_url;
                    self.owner = response.data.currentUser;
                    self.loadObjects = 0;
                    self.$root.lng = "ru";
                    self.timeout = response.data.timeout;
                    self.finded = true;
                }, function (response) {
                    self.error = response;
                    if (response.status == 404) {
                        self.finded = false;
                    }
                });
            },

            prepareObjectNullData(){
                return {
                    category: null,
                    type: null,
                    distr: null,
                    currency: "USD",
                    subtype: null,
                    rooms: null,
                    floor: null,
                    street: null,
                    state: null,
                    price: null,
                    phone: null,
                    square: null,
                    appointment: null,
                    home: null,
                    owner_name: null,
                    lon: null,
                    lat: null,
                    studio: null,
                    notes_c: null,
                    notes_r: null
                }
            },
            handleResize(evt, elem){

                let h = 75;
                let b = document.body.clientHeight;
                let r = b - h;
                if (this.infiniteStyle != r + "px")
                    this.infiniteStyle.height = r + "px";

                $(".scroll_content").mCustomScrollbar("update");
            },
            prepareObjectData(object){
                var price;

                object.objectdata.forEach(function (elem) {
                    if (elem.name == 'price_' + object.currency) {
                        price = elem.value;
                    }
                });

                return {
                    category: object.category,
                    type: object.type,
                    distr: object.distr,
                    currency: object.currency,
                    subtype: object.subtype,
                    rooms: object.rooms,
                    floor: object.floor,
                    street: object.street,
                    state: object.state,
                    price: price,
                    view: object.view,
                    phone: object.phone,
                    square: object.square,
                    appointment: object.appointment,
                    home: object.home,
                    owner_name: object.owner_name,
                    lon: object.lon,
                    lat: object.lat,
                    studio: object.studio,
                    notes_c: object.notes_c,
                    notes_r: object.notes_r
                }
            }
        },

        props: ['addnewobject', "currency"],
        ready: function () {
            this.handleResize();

            window.addEventListener('resize', this.handleResize);

            let self = this;

            $('.scroll_content').mCustomScrollbar
            (
                    {
                        theme: "dark-3",
                        scrollInertia: 0,
                        documentTouchScroll: false,
                        setHeight: window.innerHeight,
                        contentTouchScroll: false,
                        keyboard: {enable: true},
                        advanced: {updateOnContentResize: true},
                        callbacks: {
                            onUpdate: function () {
                                if (self.objects.length <= 6) {
                                    self.filterShow = true;
                                }


                            },
                            whileScrolling: function () {

                                self.filterShow = this.mcs.topPct <= 20;

                                if (this.mcs.topPct > 90 &&
                                        self.infiniteScrollEnabled &&
                                        !self.infiniteScrollLoading) {
                                    $('.scroll_content').mCustomScrollbar("stop");
                                    var self2 = self;
                                    self.infiniteScrollLoading = true;
                                    self.$http.get(self.nextPageUrl, {filters: this.filters}).then(function (response) {

                                        self2.objects = self2.objects.concat(response.data.objects.data);
                                        self2.nextPageUrl = response.data.objects.next_page_url;
                                        self2.infiniteScrollLoading = false;
                                    }, function (response) {
                                        self2.error = response;
                                    });
                                }
                            }
                        }
                    }
            );

        },

        data() {
            return {
                filterShow: true,
                nextPageUrl: null,
                finded: true,
                phones: null,
                infiniteScrollEnabled: null,
                infiniteScrollLoading: false,
                timeout: 0,

                infiniteStyle: {
                    height: 'auto',
                    "margin-left": "-13px"
                },
                objects: [],
                viewFilters: [],
                filter: {
                    street: [],
                    provide: {},
                    rooms: []
                },
                filterS: {},
                loadObjects: 0,
                owner: null,
            }
        },
        events: {
            'addObject': function (msg) {

                this.addcategory = msg.category;
                this.addnewobject = msg.status;

            },
            'deleteObject': function (msg) {
                this.objects = this.objects
                        .filter(function (el) {
                            return el.id !== msg;
                        });

            },
            'setCategory': function (msg) {
                this.selected.category = msg;
            }
        },
        components: {
            'shareobject': ShareObject
        }

    }
</script>
