<template>
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <span>
              <img alt="image" width="49" height="49" class="img-circle" :src="avatar"/>
            </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span class="clear">
                <span class="block m-t-xs">
                  <strong class="font-bold">
                    {{ user.name }}
                  </strong>
                </span>
                <span class="text-muted text-xs block">{{ getRole() }}
                  <b class="caret"></b>
                </span>
              </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li>
                <router-link :to="{ path: '/profile' }">
                  {{ $t('menu_profile_url') }}
                </router-link>
              </li>
              <li class="divider"></li>
              <li>
                <router-link :to="{ path: '/login'}" @click="logout()">
                  {{ $t('menu_exit') }}
                </router-link>
              </li>
            </ul>
          </div>
          <div class="logo-element">
            OSR
          </div>
        </li>
        <router-link tag="li"
          :to="{
            name: 'objects',
            activeClass: 'active',
            params: { category: 'sale', time: null },
          }"
        >
          <a>
            <i class="fa fa-money"></i>
            <span class="nav-label">{{ $t('menu_cat_1') }}</span>
            <span v-if="$route.params.category === 'sale'"
              class="label label-warning pull-right"
              @click="addNewObject(1)"
            >
              <i style="margin-right: 0px; width: 15px;" class="fa fa-plus"></i>
            </span>
          </a>
        </router-link>
        <li :class="$route.params.category === 'rent' ? 'active' : ''">
          <router-link
            :to="{
              name: 'time',
              activeClass: 'active',
              params: { category: 'rent' }
            }"
          >
            <i class="fa fa-clock-o"></i>
            <span class="nav-label">{{ $t('menu_cat_2') }}</span>
          </router-link>
          <ul class="nav nav-second-level collapse in">
            <li :class="$route.params.time === 'short' ||
              $route.params.time === ':time' ? 'active' : ''"
            >
              <router-link style="padding-left: 25px;"
                :to="{
                  name: 'time',
                  activeClass: 'active',
                  params: { category: 'rent', time: 'short' }
                }"
              >
                {{ $t("menu_sub_cat_2") }}
                <span class="label label-warning pull-right"
                  style="padding: 3px 8px 3px 8px;margin-right:10px"
                  v-if="$route.params.category === 'rent' &&
                    ($route.params.time === ':time' ||
                    $route.params.time === 'short')"
                  @click="addNewObject(2)"
                >
                  <i style="margin-right: 0px; width: 15px;" class="fa fa-plus"></i>
                </span>
              </router-link>
            </li>
            <li :class="$route.params.time =='long' ? 'active' : ''">
              <router-link style="padding-left: 25px;"
                :to="{
                  name: 'time',
                  activeClass: 'active',
                  params: { category: 'rent', time: 'long' },
                }"
              >
                {{ $t("menu_sub_cat_1") }}
                <span style="padding: 3px 8px 3px 8px;margin-right:10px"
                  v-if="$route.params.category === 'rent' && $route.params.time === 'long'"
                  class="label label-warning pull-right"
                  @click="addNewObject(2)"
                >
                  <i class="fa fa-plus" style="margin-right: 0px; width: 15px;"></i>
                </span>
              </router-link>
            </li>
          </ul>
        </li>
      </ul>
      <div class="row"
        style="position: absolute; width: 100%; right: 10px;"
        :style="stylebot"
      >
        <div class="col-md-12">
          <h4 class="pull-left" style="color: #a7b1c2; font-weight: 600;">
            <i class="fa fa-phone-square"></i> +38 (048) 738 98 01
          </h4>
          <h5 class="pull-right" style="color: #a7b1c2;font-weight: 600;">
            <span class="label label-info pull-right"
              style="padding: 3px 6px;"
            >v {{ $root.config.version }}</span>
          </h5>
        </div>
      </div>
      <div class="row"
        style="position: absolute; width: 100%; right: 10px;"
        :style="stylebots"
      >
        <div class="col-md-8">
          <h5 style="color: #a7b1c2; font-weight: 600;">
            <i class="fa fa-usd"></i>{{ currency | findCurr 'USD' }}
            <i class="fa fa-euro"></i>{{ currency | findCurr 'EUR' }}
          </h5>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import auth from '../auth'

export default {
  name: 'SideMenu',

  computed: {
    avatar () {
      if (this.user.avatar !== 'noavatar') {
        return this.$root.config.bucketAvatarsUrl + '/' + this.user.avatar + '.jpg'
      } else {
        return '/images/noavatar.jpg'
      }
    },
  },

  data: () => ({
    stylebot: {
      'bottom': this.$root.daysForPay < 7 ? '18px' : '0px'
    },
    stylebots: {
      'bottom': this.$root.daysForPay < 7 ? 25 + 18 + 'px' : '25px'
    },
    user: JSON.parse(localStorage.getItem('iam')),
    currency: JSON.parse(localStorage.getItem('currency'))
  }),

  methods: {
    logout () {
      auth.logout()
    },

    addNewObject (same) {
      let somestring = '',
        superUser = JSON.parse(localStorage.getItem('iam'))

      if (superUser.agency.title === '' || superUser.name === '' || superUser.phones.length === 0 ||
        (superUser.phones.length && superUser.phones[0].value === null)) {
        if (superUser.agency.title === '') {
          somestring += this.$t('agency_title_emtpy')
        }
        if (superUser.name === '') {
          somestring += this.$t('user_name_empty')
        }

        if (superUser.phones.length === 0 || (superUser.phones.length && superUser.phones[0].value === null)) {
          somestring += this.$t('user_phones_empty')
        }

        somestring += this.$t('please_type_hint')

        this.$toastr('warning', somestring, this.$t('toastr_warning_header'))
      } else {
        this.$dispatch('addObject', { status: true, category: same })
      }
    },

    getRole () {
      this.roleName = JSON.parse(localStorage.getItem('userRoles'))
      return this.roleName[0].display_name
    },

    setCategory (msg) {
      this.categoryActive = msg
      this.$dispatch('setCategory', msg)
    }
  },

  events: {
    avatarUpdated (msg) {
      this.user = JSON.parse(localStorage.getItem('iam'))
    }
  },

  filters: {
    findCurr (val, msg) {
      var str = ''
      if (val && val.hasOwnProperty('query')) {
        val.query.results.rate.forEach(function (el) {
          if (el.Name.indexOf(msg) !== -1) {
            str += el.Name.replace('/UAH', '').replace(msg, '') + ' ' + parseFloat(el.Rate).toFixed(1) + ' '
          }
        })
      }
      return str
    }
  }
}
</script>
