<template>
  <div class="input-group">
    <div class="input-group-btn">
      <button class="btn btn-sm btn-white col-md-10 selectValue"
        tabindex="-1"
        @click="toggleOpen"
        type="button"
      >
        {{ title }}
      </button>
      <button class="btn btn-sm btn-white dropdown-toggle"
        @click="toggleOpen"
        type="button"
      >
        <span class="caret" v-if="!valueStart && !valueFinish"></span>
        <span class="fa fa-times" v-else></span>
      </button>
      <ul class="dropdown-menu" v-show="showInput">
        <li class="search">
          <input class="form-control input-sm startVal" type="text"
            :placeholder="$t('select_interval_from')"
            v-model="start"
            @keydown="$emit('input', $event.target.value, name + 'Start')"
            @blur="$emit('input', $event.target.value, name + 'Start')"
          />
          <input class="form-control input-sm finishVal" type="text"
            :placeholder="$t('select_interval_to')"
            v-model="finish"
            @keydown="$emit('input', $event.target.value, name + 'Finish')"
            @blur="$emit('input', $event.target.value, name + 'Finish')"
          />
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="stylus" scoped>
.dropdown-menu
  display inline-block
</style>

<script>
export default {
  name: 'FilterInterval',

  data () {
    return {
      internalValue: [],
      showInput: false,
      start: null,
      finish: null,
    }
  },

  props: {
    valueStart: Number,
    valueFinish: Number,
    placeholder: String,
    options: Array,
    name: String,
  },

  computed: {
    title () {
      let title

      if (!this.valueStart && !this.valueFinish) {
        return this.placeholder
      }

      if (this.valueStart) {
        title = this.$t('select_interval_from') + ' ' + this.valueStart
      }

      if (this.valueFinish) {
        if (title) {
          title += ' ' + this.$t('select_interval_to') + ' ' + this.valueFinish
        } else {
          title = this.$t('select_interval_to') + ' ' + this.valueFinish
        }
      }

      return title
    },
  },

  methods: {
    toggleOpen (e) {
      if (this.valueStart || this.valueFinish) {
        this.resetValue()
        e.stopPropagation()
      }
      this.showInput = !this.showInput
    },

    resetValue () {
      this.valueStart = null
      this.valueFinish = null
    },

    numberFormat (number, decimals, decPoint, thousandsSep) {
      let i, j, kw, kd, km

      if (isNaN(decimals = Math.abs(decimals))) {
        decimals = 2
      }
      if (typeof decPoint === 'undefined') {
        decPoint = ','
      }
      if (typeof thousandsSep === 'undefined') {
        thousandsSep = '.'
      }

      i = parseInt(number = (+number || 0).toFixed(decimals)) + ''

      if ((j = i.length) > 3) {
        j = j % 3
      } else {
        j = 0
      }

      km = (j ? i.substr(0, j) + thousandsSep : '')
      kw = i.substr(j).replace(/(\d{3})(?=\d)/g, '$1' + thousandsSep)
      // kd = (decimals ? decPoint + Math.abs(number - i).toFixed(decimals).slice(2) : ')
      kd = (decimals
        ? decPoint + Math.abs(number - i).toFixed(decimals).replace(/-/, 0).slice(2)
        : ''
      )

      return km + kw + kd
    },
  },
}
</script>

<style lang="stylus" scoped>
.dropdown-menu
  z-index 4000
.selectValue
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
</style>

