<template>
  <footer class="app-footer">
    <a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
    <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a></span>
  </footer>
</template>

<script>
export default {
  name: 'footer',
}
</script>
