<template>
  <div class="row border-top">
    <div class="col-md-12">
      <div :id="'map-' + item.id" class="map-wrapper"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GMap',

  props: {
    item: { type: Object },
  },

  // mounted () {
  //   if (!google) {
  //     return
  //   }

  //   let
  //     myLatLng = { lat: this.item.lon, lng: this.item.lat },
  //     map = new google.maps.Map(
  //       document.getElementById('map-' + this.item.id),
  //       {
  //         zoom: 17,
  //         center: myLatLng,
  //         scrollwheel: false,
  //       }
  //     )

  //   new google.maps.Marker({
  //     position: myLatLng,
  //     map: map,
  //     title: 'Hello World!',
  //   })
  // },
}
</script>

<style lang="stylus">
</style>
