<template>
  <ul class="indicator">
    <li
      v-for="item, index in indicator"
      :key="index"
      @click="handleIndicatorClick(index)"
      :class="{ active: index === activeIndex }"
    >
      <span></span>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'Indicator',

  data: () => ({
    activeIndex: 0,
    isAnimating: false,
  }),

  props: {
    indicator: { type: Array, default: () => [] },
  },

  methods: {
    handleIndicatorClick (index) {
      if (this.isAnimating) return false
      this.isAnimating = true
      this.activeIndex = index
    },
  },
}
</script>

<style scoped>
.carousel-control {
  cursor: pointer;
}
</style>
