<template>
  <div class="scroll_content row">
    <list-item
      v-for="object in objects.slice(0, 20)"
      :key="object.id"
      :item="object"
    />
  </div>
</template>

<script>
import ListItem from './ListItem.vue'

export default {
  name: 'List',

  components: { ListItem },

  props: {
    criteria: { type: Array, required: true },
    objects: { type: Array, required: true },
  },
}
</script>
