<template>
  <div role="dialog"
    :class="{
      modal: true,
      fade: effect === 'fade',
      zoom: effect === 'zoom',
    }"
  >
    <div role="document"
      :class="{
        'modal-dialog': true,
        'modal-lg': large,
        'modal-sm': small,
      }"
      :style="{ width: optionalWidth }"
    >
      <div class="modal-content">
        <slot name="modal-header">
          <div class="modal-header">
            <button type="button" class="close" @click="close">
              <span>&times;</span>
            </button>
            <h4 class="modal-title">
              <slot name="title">
                {{ title }}
              </slot>
            </h4>
          </div>
        </slot>
        <slot name="modal-body">
          <div class="modal-body"></div>
        </slot>
        <slot name="modal-footer">
          <div class="modal-footer">
            <button type="button" class="btn btn-default" @click="close">
              {{ cancelText }}
            </button>
            <button type="button" class="btn btn-primary" @click="callback">
              {{ okText }}
            </button>
          </div>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Modal',

  data: () => ({
    show: false,
  }),

  props: {
    cancelText: { type: String, default: () => 'Close' },
    callback: { type: Function, default: () => () => {} },
    backdrop: { type: Boolean, default: () => true },
    okText: { type: String, default: () => 'Save changes' },
    effect: { type: String, default: () => null },
    large: { type: Boolean, default: () => false },
    small: { type: Boolean, default: () => false },
    title: { type: String, default: () => '' },
    width: { default: () => null },
    show: { require: true, type: Boolean },
  },

  computed: {
    optionalWidth: () => (this.width === null)
      ? null
      : (Number.isInteger(this.width))
        ? this.width + 'px'
        : this.width,
  },
}
</script>

<style lang="stylus">
.modal
  transition all 0.3s ease
  &.in
    background-color rgba(0, 0, 0, 0.5)
  &.zoom
    .modal-dialog
      transform scale(0.1)
      top 300px
      opacity 0
      transition all 0.3s
    &.in
      .modal-dialog
        transform scale(1)
        transform translate3d(0, -300px, 0)
        opacity 1
</style>
