<template>
  <div class="row">
    <div class="col-md-5" style="height:70px">
      <modal
        :title="$t('report_object')"
        :show="showModal"
        effect="fade"
      >
        <div slot="modal-body" class="modal-body">
          <div class="row">
            <div v-if="stateReportSend" class="col-md-12 text-center">
              <div class="sk-spinner sk-spinner-wave">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
              </div>
            </div>
            <div v-if="errorReport" class="alert alert-danger m-t-xs">
              {{ $t('report_not_checked') }}
            </div>
            <div class="radio">
              <input type="radio" v-model="reportId" id="radio2" value="1">
              <label for="radio2">
                {{ $t('report_object_invalid_date') }}
              </label>
            </div>
            <div class="radio">
              <input type="radio" v-model="reportId" id="radio3" value="2">
              <label for="radio2">
                {{ $t('report_object_invalid_data') }}
              </label>
            </div>
            <div class="radio">
              <input type="radio" v-model="reportId" id="radio4" value="3">
              <label for="radio2">
                {{ $t('report_object_invalid_other') }}
              </label>
            </div>
          </div>
          <div class="row">
            <textarea class="md-input col-md-12"
              v-model="reportComment"
              style="resize: none;"
            ></textarea>
          </div>
        </div>
        <div slot="modal-footer" class="modal-footer">
          <button class="btn btn-success" type="button"
            @click="sendReport"
          >{{ $t('report_object_text') }}</button>
        </div>
      </modal>
      <div class="row">
        <div class="col-md-6">
          <span v-if="showPanel('view') && item.view">
            {{ findView(item.view) }}
          </span>
        </div>
        <div class="col-md-6">
          <span v-if="showPanel('typehouse') && item.typehouse">
            {{ findTypeHouse(item.typehouse) }}
          </span>
          <span v-if="showPanel('floors') && item.floors">
            {{ $t('floors') }}: {{ item.floors }}
          </span>
          <span v-if="showPanel('appointment') && item.appointment">
            {{ findAppointment(item.appointment) }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Report',

  data: () => ({
    showModal: false,
  }),
}
</script>

<style lang="stylus">

</style>
