<template>
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li v-for="link, index in menu"
          :class="['nav-item nav-' + link.type, ...link.classes]"
          :key="index"
          v-bind="link.wrapperAttrs || {}"
        >
          <div :class="['inner', ...link.innerClasses]"
            v-bind="link.innerAttrs || {}"
            v-if="link.type === 'item'"
          >
            <component :is="link.component" v-bind="link.attrs || {}">
              <i v-bind="link.icon || { 'class': 'icon-puzzle' }"></i>
              {{ link.text }}
              <router-link class="badge badge-success"
                @click="clickHandler"
                v-if="link.badge"
                v-bind="link.badge"
              >
                {{ link.badge && link.badge.text }}
              </router-link>
            </component>
          </div>
          <div :class="['inner', ...link.innerClasses]"
            v-bind="link.innerAttrs || {}"
            v-if="link.type === 'dropdown'"
          >
            <component :is="link.component" v-bind="link.attrs || {}">
              <div class="nav-link nav-dropdown-toggle"
                @click="handleDropdownClick"
              >
                <i v-bind="link.icon || { 'class': 'icon-puzzle' }"></i>
                {{ link.text }}
                <router-link class="badge badge-success"
                  @click="clickHandler"
                  v-if="link.badge"
                  v-bind="link.badge"
                >
                  {{ link.badge && link.badge.text }}
                </router-link>
              </div>
              <ul v-if="link.children" :class="['nav-dropdown-items', ]">
                <li v-for="item, idx in link.children"
                  :class="['nav-item nav-' + item.type, ...item.classes]"
                  :key="idx"
                  v-bind="item.attrs || clickHandler"
                >
                  <router-link
                    :class="['nav-link', ...item.linkClasses]"
                    v-bind="{ to: item.route }"
                  >
                    <i v-if="item.icon" v-bind="item.icon"></i>
                    {{ item.text }}
                    <router-link class="badge badge-success"
                      @click="clickHandler"
                      v-if="item.badge"
                      v-bind="item.badge"
                    >
                      {{ item.badge && item.badge.text }}
                    </router-link>
                    </button>
                  </router-link>
                </li>
              </ul>
            </component>
          </div>
          <div :class="['inner', ...link.innerClasses]"
            v-bind="link.innerAttrs || {}"
            v-if="link.type === 'title'"
          >
            {{ link.text }}
            <router-link class="badge badge-success"
              @click="clickHandler"
              v-if="link.badge"
              v-bind="link.badge"
            >
              {{ link.badge && link.badge.text }}
            </router-link>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'Sidebar',

  props: {
    user: Object,
    currency: Object,
  },

  methods: {
    handleDropdownClick (e) {
      e.target
        .parentElement
        .parentElement
        .parentElement
        .classList.toggle('open')
    },

    isMatch (path = '/') {
      let result = false
      this.$route.matched.forEach((route) => {
        if (route.path !== path &&
          route.path.startsWith(path)) {
          result = true
        }
      })
      return result
    },

    clickHandler (e) {
      let el = e.target
      if (!el.to) {
        el = el.parentElement
      }
      this.$router.push(el.to || '/')
    },
  },

  data: () => ({
    menu: [
      {
        text: 'Catalog',
        type: 'title',
        badge: {
          'class': ['pull-right'],
          text: 'Add',
          to: '/objects/add',
        },
      },
      {
        text: 'Sale',
        type: 'item',
        component: 'router-link',
        attrs: {
          to: '/objects/sale',
          'class': 'nav-link',
        },
      },
      {
        text: 'Rent',
        type: 'dropdown',
        component: 'router-link',
        attrs: {
          tag: 'div',
          to: '/objects/rent',
        },
        children: [
          {
            type: 'item',
            text: 'Longtime',
            component: 'router-link',
            route: '/objects/rent/longtime',
            attrs: {
              tag: 'li',
            },
          },
          {
            type: 'item',
            text: 'Shorttime',
            component: 'router-link',
            route: '/objects/rent/shorttime',
            attrs: {
              tag: 'li',
            },
          },
        ],
      },
      {
        text: 'Office',
        type: 'title',
      },
      {
        text: 'Bids',
        type: 'item',
        component: 'router-link',
        attrs: {
          to: '/office/bids',
          'class': 'nav-link',
        },
      },
      {
        text: 'Notifications',
        type: 'item',
        component: 'router-link',
        attrs: {
          to: '/office/notifications',
          'class': 'nav-link',
        },
      },
    ],
  }),
}
</script>

<style lang="stylus" scoped>
.nav-link
  cursor pointer
.nav-dropdown-items
  .nav-item.nav-dropdown.open &
  .nav-item.nav-dropdown .router-link-active &
    max-height inherit
</style>
