<template>
  <div class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators" v-show="indicators">
      <indicator
        :indicator="indicator"
        :active-index="activeIndex"
        :is-animating="isAnimating"
      />
    </ol>
    <div class="carousel-inner" role="listbox">
      <slot></slot>
    </div>
    <div v-show="controls" class="carousel-controls hidden-xs">
      <a class="left carousel-control" role="button" @click="prevClick"></a>
      <a class="right carousel-control" role="button" @click="nextClick"></a>
    </div>
  </div>
</template>
<script>
import Indicator from './Indicator'
import EventListener from '../utils/EventListener'

export default {
  name: 'Carousel',

  components: { Indicator },

  props: {
    indicators: { type: Boolean, default: () => true },
    controls: { type: Boolean, default: () => true },
    interval: { type: Number, default: () => 5000 },
  },

  data () {
    return {
      indicator: [],
      activeIndex: 0,
      isAnimating: false,
      direction: false,
      intervalId: null,
    }
  },

  computed: {
    slider: () => this.$el.querySelectorAll('.item'),
  },

  watch: {
    activeIndex (newVal, oldVal) {
      this.slide(this.direction, newVal, oldVal)
    }
  },

  methods: {
    slide (direction, selected, prev) {
      if (this._prevSelectedEvent) this._prevSelectedEvent.remove()
      if (this._selectedEvent) this._selectedEvent.remove()

      const
        prevSelectedEl = this.slider[prev],
        selectedEl = this.slider[selected],
        transitionendFn = () => {
          [...this.slider].forEach((el) => {
            el.className = 'item'
          })
          selectedEl.classList.add('active')
          this.isAnimating = false
        }

      direction === 'left'
        ? selectedEl.classList.add('next')
        : selectedEl.classList.add('prev')

      // let x = selectedEl.clientHeight

      this._prevSelectedEvent = EventListener.listen(
        prevSelectedEl,
        'transitionend',
        transitionendFn
      )

      this._selectedEvent = EventListener.listen(
        selectedEl,
        'transitionend',
        transitionendFn
      )

      prevSelectedEl.classList.add(direction)
      selectedEl.classList.add(direction)
    },

    nextClick () {
      if (this.isAnimating) {
        return false
      }

      this.isAnimating = true
      this.direction = 'left'

      this.activeIndex + 1 < this.slider.length
        ? this.activeIndex += 1
        : this.activeIndex = 0
    },

    prevClick () {
      if (this.isAnimating) {
        return false
      }

      this.isAnimating = true
      this.direction = 'right'

      this.activeIndex === 0
        ? this.activeIndex = this.slider.length - 1
        : this.activeIndex -= 1
    },

    intervalManager (flag, func, time) {
      flag
        ? this.intervalId = setInterval(func, time)
        : clearInterval(this.intervalId)
    },
  },

  mounted () {
    let vm = this

    if (this.interval) {
      this.intervalManager(true, this.nextClick, this.interval)

      this.$el.addEventListener(
        'mouseenter',
        () => vm.intervalManager(false)
      )

      this.$el.addEventListener(
        'mouseleave',
        () => vm.intervalManager(true, this.nextClick, this.interval)
      )
    }
  },
}
</script>

<style scoped>
.carousel-control {
  cursor: pointer;
}
</style>
