<template>
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>
        <div class="ribbon">
          <a>ALPHA</a>
        </div>
        <h1 class="logo-name">OSR</h1>
      </div>
      <h3></h3>
      <p>{{ $text('login_phrase') }}</p>
      <div class="form-group">
        <input type="email" class="form-control"
          v-model="credentials.register_email"
          :placeholder="$text('register_email')"
          required=""
        />
      </div>
      <div class="form-group">
        <select v-model="credentials.register_city" class="form-control m-b">
          <option disabled selected value=0>{{ $text('placeholder_city') }}</option>
          <option value=1>{{ $text('city_one') }}</option>
          <option value=2>{{ $text('city_two') }}</option>
          <option value=3>{{ $text('city_three') }}</option>
        </select>
      </div>
      <div class="form-group">
        <select v-model="credentials.register_type" class="form-control m-b">
          <option disabled selected value=0>{{ $text('placeholder_type') }}</option>
          <option value=1>{{ $text('policy_arcade') }}</option>
          <option value=2>{{ $text('policy_agency') }}</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control"
          v-model="credentials.register_agency_name"
          :placeholder="$text('register_agency_name')"
          required=""
        />
      </div>
      <button class="ladda-button btn btn-primary block full-width m-b"
        @click="submit()"
      >
        <div v-if="formSubmitted" class="sk-spinner sk-spinner-wave">
          <div class="sk-rect1"></div>
          <div class="sk-rect2"></div>
          <div class="sk-rect3"></div>
          <div class="sk-rect4"></div>
          <div class="sk-rect5"></div>
        </div>
        <h4 class="m-b-xs" v-if="!formSubmitted">
          {{ $text('register_submit') }}
        </h4>
      </button>
      <p class="m-t">
        <small>{{ $text('choice_text') }}</small>
      </p>
      <router-link class="btn btn-sm btn-white btn-block"
        :to="{
          name: 'login',
          activeClass: 'active'
        }"
        v-text="$text('login_account')"
      />
    </div>
  </div>
</template>

<script>
import auth from '../auth'

export default {
  route: {
    activate: function (transition) {
      document.body.classList.add('gray-bg')
      transition.next()
    },

    data: function (transition) {
      transition.next()
    },

    canActivate: function (transition) {
      return !auth.user.authenticated
    }
  },

  data: () => ({
    credentials: {
      register_email: '',
      register_agency_name: '',
      register_city: '',
      register_type: ''
    },
    formSubmitted: false,
    error: ''
  }),

  methods: {
    submit () {
      this.formSubmitted = true
      let credentials = {
        email: this.credentials.register_email,
        agency_name: this.credentials.register_agency_name,
        city: this.credentials.register_city,
        type: this.credentials.register_type
      }
      auth.register(this, credentials, 'secretquote')
    }
  }
}
</script>
