<template>
  <list class="list"
    :criteria="criteria"
    :objects="routeFiltered"
  ></list>
</template>

<script>
import List from '../components/List.vue'

export default {
  name: 'LongtimePage',

  data: () => ({
    routeName: 'objects.rent.longtime',
  }),

  components: { List },

  props: {
    criteria: { type: Array, required: true },
    objects: { type: Array, required: true },
  },

  computed: {
    routeFiltered () {
      return this.objects.filter(item => Number(item.subtype) === 0)
    },
  },
}
</script>

<style lang="stylus">
</style>
