<template>
  <div class="wrapper">
    <filters
      :value.sync="criteria"
      v-show="!($route.meta && $route.meta.hideFilters || false)"
    />
    <transition name="slide">
      <keep-alive>
        <router-view
          :criteria="criteria"
          :objects="objects"
          :notifications="notifications"
        />
      </keep-alive>
    </transition>
    <chat :user="user" />
  </div>
</template>

<script>
import Chat from '../components/Chat.vue'
import Filters from '../components/Filters/index'

export default {
  name: 'ObjectsPage',

  components: { Filters, Chat },

  props: {
    user: { type: Object, default: () => ({ id: 0 }) },
  },

  data () {
    return {
      criteria: [],
      objects: this.$store.getters.getObjects,
      notifications: this.$store.getters.getNotifications,
    }
  },
}
</script>

<style lang="stylus">
</style>
