<template>
  <transition name="slide">
    <keep-alive>
      <router-view :item="item" />
    </keep-alive>
  </transition>
</template>

<script>
export default {
  name: 'ObjectPage',

  props: {
    item: { type: Object },
  },
}
</script>

<style lang="stylus">
</style>
