<template>
  <div class="row border-bottom">
    <div class="col-md-12 border-bottom">
      <div class="ibox-title-osr">
        <h5>{{ $t('edit_object') }}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div v-if="stateSaving" class="col-md-12 text-center">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
        </div>
        <div v-if="!stateSaving" class="col-md-8 border-right">
          <div class="row m-t border-bottom">
            <div class="col-md-3">
              <multiselect
                :class="!selected.type ? 'has-error' : ''"
                v-model="selected.type"
                :multiple="true"
                :closeOnSelect="false"
                :clearOnSelect="false"
                :hideSelected="true"
                :options="$root.types"
                :placeholder="$t('type')"
              />
            </div>
            <div class="col-md-3"
              v-if="canViewFilter('studio')"
              :class="selected.type === 2 ? 'm-t-xs' : ''"
            >
              <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox"
                  id="inlineCheckbox3"
                  v-model="selected.studio"
                />
                <label for="inlineCheckbox3">
                  {{ $t('studio') }}
                </label>
              </div>
            </div>
            <div v-if="canViewFilter('appointment')" class="col-md-3">
              <multiselect
                v-model="selected.appointment"
                :options="$root.appointments"
                :multiple="true"
                :closeOnSelect="false"
                :clearOnSelect="false"
                :hideSelected="true"
                :placeholder="$t('appointment')"
              />
            </div>
            <div v-if="canViewFilter('rooms')" class="col-md-3">
              <label class="input-label-tr">
                {{ $t('rooms') }}
              </label>
              <input class="form-control input-sm"
                :title="$t('rooms')"
                v-model="selected.rooms"
              />
            </div>
            <div v-if="canViewFilter('view')" class="col-md-3">
              <multiselect
                v-model="selected.view"
                :options="selected.type && $root.views[selected.type] || []"
                :multiple="true"
                :closeOnSelect="false"
                :clearOnSelect="false"
                :hideSelected="true"
                :placeholder="$t('view')"
              />
            </div>
            <div class="col-md-3"
              v-if="canViewFilter('typehouse')"
              :class="selected.type === 2 ? 'm-t' : ''"
            >
              <multiselect
                v-model="selected.typehouse"
                :options="$root.typehouses"
                :multiple="true"
                :closeOnSelect="false"
                :clearOnSelect="false"
                :hideSelected="true"
                :placeholder="$t('typehouse')"
              />
            </div>
            <div class="col-md-3"
              v-if="canViewFilter('floor')"
              :class="selected.type === 2 ? 'm-t' : ''"
            >
              <label class="input-label-tr">{{ $t('floor') }}</label>
              <input id="object_floor_input" class="form-control input-sm"
                v-model="selected.floor"
                :placeholder="$t('floor')"
              />
            </div>
            <div class="col-md-3"
              v-if="canViewFilter('floors')"
              :class="selected.type === 2 ? 'm-t' : ''"
            >
              <div class="input-group">
                <label class="input-label-tr">
                  {{ $t('floors') }}
                </label>
                <input class="form-control input-sm"
                  :title="$t('floors')"
                  v-model="selected.floors"
                />
              </div>
            </div>
            <div class="col-md-3 m-b"
              :class="selected.type === 2 ? 'm-t' : ''"
            >
              <label class="input-label-tr">
                {{ $t('square') }}
              </label>
              <input class="form-control input-sm"
                data-placement="bottom"
                v-model="selected.square"
              />
            </div>
          </div>
          <div class="row m-t border-bottom">
            <div class="col-md-3">
              <multiselect
                :class="!selected.distr ? 'has-error' : ''"
                v-model="selected.distr"
                :options="$root.districts"
                :multiple="true"
                :closeOnSelect="false"
                :clearOnSelect="false"
                :hideSelected="true"
                :placeholder="$t('object_distr')"
              />
            </div>
            <div class="col-md-3">
              <multiselect
                v-model="selected.street"
                :class="!selected.street ? 'has-error' : ''"
                :options="$root.streets"
                :search="'Найти'"
                :placeholder="$t('object_street')"
                :closeOnSelect="true"
                :searchable="true"
                :showLabels="false"
              />
            </div>
            <div class="col-md-3 m-b">
              <label class="input-label-tr">{{ $t('home') }}</label>
              <input class="form-control input-sm"
                v-model="selected.home"
              />
            </div>
            <div v-if="canViewFilter('square_area')" class="col-md-3">
              <label class="input-label-tr">
                {{ $t('square_area') }}
              </label>
              <input class="form-control input-sm"
                v-model="selected.square_area"
              />
            </div>
          </div>
          <div class="row m-t border-bottom">
            <div class="col-md-3 m-b">
              <label class="input-label-tr">
                {{ $t('price') }}
              </label>
              <input class="form-control input-sm"
                v-model="selected.price"
              />
            </div>
            <div class="col-md-3">
              <multiselect
                :class="!selected.currency ? 'has-error' : ''"
                v-model="selected.currency"
                :options="$root.currencies"
                :closeOnSelect="true"
                :showLabels="false"
                :placeholder="$t('object_currency')"
              />
            </div>
            <div class="col-md-3">
              <label class="input-label-tr">
                {{ $t('owner_name') }}
              </label>
              <input class="form-control input-sm"
                v-model="selected.owner_name"
              />
            </div>
            <div class="col-md-3">
              <label class="input-label-tr">{{ $t('phone') }}</label>
              <input class="form-control input-sm"
                v-mask="'(###) ###-##-##'"
                v-model="selected.phone"
              />
            </div>
          </div>
          <div class="row m-t m-b">
            <div class="col-md-6">
              <label class="textarea-label-tr">
                {{ $t('note_c') }}
              </label>
              <textarea class="form-control"
                v-model="selected.notes_c"
              ></textarea>
            </div>
            <div class="col-md-6">
              <label class="textarea-label-tr">
                {{ $t('note_r') }}
              </label>
              <textarea class="form-control"
                v-model="selected.notes_r"
              ></textarea>
            </div>
          </div>
        </div>
        <div v-if="!stateSaving" class="col-md-4 border-right">
          <div class="row">
            <dropzone
              url="https://httpbin.org/post"
              :id="'my-awesome-dropzone' + item.id"
              :class="'dropzone dropzoneMain' + item.id"
              :duplicate-check="true"
              :max-number-of-files="10"
              :show-remove-link="true"
              :accepted-file-types="'image/*'"
              @vdropzone-success="showSuccessUpload"
            />
              <input type="hidden" name="token" value="xxx">
            </dropzone>
          </div>
          <div class="row m-t">
            <div class="col-md-12">
              <button class="col-md-12 btn btn-primary btn-xs"
                v-if="editstate"
                @click="editExit"
                type="button"
              >{{ $t('edit_stop_and_save') }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Dropzone from 'vue2-dropzone'
import Multiselect from 'vue-multiselect'

export default {
  name: 'ObjectAddPage',

  components: { Multiselect, Dropzone },

  data () {
    return {
      item: {
        id: 0,
      },
      trans: { floor: 0 },
      editstate: 0,
      stateSaving: null,
      stateCreating: null,
      showMap: 0,
      showNote: 0,
      floorsState: 0,
      mObject: {},
      requiredFields: [
        'owner_name',
        'distr',
        'street',
        'price',
        'currency',
        'phone',
        'home',
      ],
      selected: {
        appointment: null,
        category: null,
        currency: null,
        distr: null,
        floor: null,
        floors: null,
        home: null,
        notes_c: null,
        notes_r: null,
        owner_name: null,
        phone: null,
        price: null,
        rooms: null,
        square: null,
        square_area: null,
        status: null,
        street: null,
        studio: null,
        type: null,
        typehouse: null,
        view: null,
      },
    }
  },

  mounted () {
    // let vm = this
    // Object.keys(this.selected).forEach(field => {
    //   if (typeof vm[field] === 'object' || typeof vm.$root[field] === 'object') {
    //     vm.selected[field] = vm.onlyDigits(vm[field])
    //   }
    // })
  },

  computed: {
    mode () {
      return this.item.id ? 'edit' : 'create'
    },
  },

  methods: {
    showSuccessUpload () {

    },

    canViewFilter (some) {
      let vm = this

      if (!this.selected.type) {
        return false
      }

      if (this.selected.category === 2 &&
        this.selected.type === 2 &&
        some === 'view'
      ) {
        return false
      }

      return this.$root.types.find((a) => a.id === vm.selected.type)
        .fields.findIndex((a) => a === some) !== -1
    },

    itemTitle () {
      let title = ''
      // streets = streets.replace('улица', '').replace('вулиця', '')

      switch (parseInt(this.selected.type)) {
      case 1:
        title = this.$t('house')
        if (this.selected.square) {
          title += ', ' + this.selected.square + ' ' + this.$t('type_square_eval')
        }
        // title += ', ' + streets
        break

      case 2:
        if (this.selected.rooms) {
          title += this.selected.rooms + 'к '
        }
        title += this.$t('apartment') + (
          this.selected.studio
            ? ' (' + this.$t('studio') + ')'
            : ''
        ) + ' '
        // title += streets
        break

      case 3:
        title = this.$t('area')
        if (this.selected.square) {
          title += ', ' + this.selected.square + ' ' + this.$t('type_square_eval')
        }
        // title += ' ' + streets
        break

      case 4:
        title = this.$t('commercial') + ' ' + this.selected.square + ' ' +
          this.$t('type_square_eval')
        // title += ' ' + streets
        break

      case 5:
        title = ''
        if (this.selected.rooms) {
          let megadata = this.selected.rooms

          title = this.$root.rooms[this.selected.type].reduce((a, b) => {
            if (b.id === megadata) {
              return b.text
            }
            return a
          })

          if (typeof title === 'object') {
            title = megadata + ' ' + this.$t(
              'object_room',
              { count: parseInt(title) }
            ) + ' '
          } else {
            title += ' ' + this.$t(
              'object_room',
              { count: parseInt(title) }
            ) + ' '
          }
          // title += ' ' + streets
        }
        break

      case 6:
        title = this.$t('parking')
        // title += ' ' + streets
        break
      }

      return title
    },

    editExit () {
      let vm = this

      this.selected.status = 1
      this.stateSaving = 1

      if (typeof this.addnewobject === 'number') {
        let valid = true

        this.requiredFields.forEach((a) => {
          if (!vm.selected[a]) {
            valid = false
          }
        })

        if (valid) {
          this.$http.put(
            this.$root.config.apiUrl + '/objects/' + this.addnewobject,
            {
              object: this.selected,
              event: 'created',
              title: vm.itemTitle(),
            }
          )
            .then((response) => {
              vm.item = response.data.object
              vm.addnewobject = 0
              // vm.$toastr(
              //   'success',
              //   vm.$t('object_success_add'),
              //   vm.$t('toastr_success_header')
              // )
              setTimeout(() => {
                window.location.reload()
                location.reload()
              }, 5000)
            })
            .catch((error) => {
              this.stateSaving = null
              vm.error = error
              if (error.status === 409) {
                // vm.$toastr(
                //   'error',
                //   vm.$t(error.data.error.message),
                //   vm.$t('toastr_error_header')
                // )
              }
            })
        } else {
          // vm.$toastr(
          //   'error',
          //   this.$t('object_error_add'),
          //   this.$t('toastr_error_header')
          // )
          this.stateSaving = null
        }
      }
    },

    deleteObject () {
      // let
      //   url = this.$root.config.apiUrl + '/objects/' + this.addnewobject,
      //   vm = this

      // this.addnewobject = 0
      // this.$http.delete(url)
      //   .then((response) => {
      //     if (response.ok && response.status === 204) {
      //       vm.$dispatch('deleteObject', vm.addnewobject)
      //     }
      //   })
      //   .catch((error) => {
      //     this.error = error
      //   })
    },

    numberFormat (number, decimals, decPoint, thousandsSep) {
      number = (number + '').replace(/[^0-9+\-Ee.]/g, '')
      let
        n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = (typeof thousandsSep === 'undefined') ? ',' : thousandsSep,
        dec = (typeof decPoint === 'undefined') ? '.' : decPoint,
        s = '',
        toFixedFix = (n, prec) => {
          let k = Math.pow(10, prec)
          return '' + (Math.round(n * k) / k).toFixed(prec)
        }

      s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.')

      if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep)
      }

      if ((s[1] || '').length < prec) {
        s[1] = s[1] || ''
        s[1] += new Array(prec - s[1].length + 1).join('0')
      }

      return s.join(dec)
    },

    onlyDigits: (val) => val && val.toString().replace(/[^0-9]/g, ''),
  },
}
</script>

<style lang="stylus">
</style>
