<template>
  <div class="wrapper">
    <transition name="slide">
      <keep-alive>
        <router-view :criteria="criteria" :objects="objects" />
      </keep-alive>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'OfficePage',

  data: () => ({
    objects: [],
    criteria: [],
  }),
}
</script>

<style lang="stylus">
</style>
