<template>
  <list class="list"
    :criteria="criteria"
    :objects="routeFiltered"
    v-if="isExact"
  />
  <router-view
    :criteria="criteria"
    :objects="routeFiltered"
    v-else
  />
</template>

<script>
import List from '../components/List.vue'
import Exactable from '../mixins/exactable'

export default {
  name: 'RentPage',

  data: () => ({
    routeName: 'objects.rent',
  }),

  components: { List },
  mixins: [Exactable],

  props: {
    criteria: { type: Array, required: true },
    objects: { type: Array, required: true },
  },

  computed: {
    routeFiltered () {
      return this.objects.filter(item => Number(item.category) === 0)
    },
  },
}
</script>

<style lang="stylus">
</style>
